@font-face {
    font-family: 'Roboto';
    src: url('fonts/Poppins-Regular.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Poppins", system-ui;
    font-weight: 300;
}

.menu {
    display: flex;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
}

.tab-button {
    font-family: "Poppins", system-ui;
    font-weight: 100;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 17px;
    font-weight: 600;
}

.tab-button:hover {
    background-color: #555;
}

.tab-button.active {
    background-color: #111;
}

.tab-content {
    display: none;
    padding: 20px;
}

.tab-content.active {
    display: block;
}

.joystick-container {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    position: relative;
}
.gripper-button {
    font-family: 'Poppins', sans-serif;
    margin-top: 14px;
    background-color:antiquewhite;
    font-size: 20px;
    border-radius: 8px;
    padding: 10px;
    border-width: 1px;
    border-color: azure;
    border-style: solid;
    cursor: pointer;
}
.gripper-button:hover {
    background-color: lightgray;
}
.gripper-button.clicked {
    background-color: sandybrown;
}

.arrow-icons {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

#homeManipButton {
    font-family: 'Poppins', sans-serif;
    margin-top: 14px;
    background-color:sandybrown;
    font-size: 20px;
    border-radius: 8px;
    padding: 10px;
    border-width: 1px;
    border-color: azure;
    border-style: solid;
    cursor: pointer;
    left: 300px;
    bottom: 40px;
    position: fixed;
}
#homeManipButton:hover {
    background-color: chocolate;
}
#homeManipButton.clicked {
    background-color: rgb(146, 74, 22);
}

.crush-button {
    font-family: 'Poppins', sans-serif;
    margin-top: 14px;
    background-color:rgb(107, 94, 196);
    font-size: 20px;
    border-radius: 8px;
    padding: 10px;
    border-width: 1px;
    border-color: azure;
    border-style: solid;
    cursor: pointer;
}
.crush-button:hover {
    background-color: rgb(160, 147, 240);
}
.crush-button.clicked {
    background-color: sandybrown;
}

.crush-icons {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}
#map {
    width: 800px;
    height: 400px;
  }